.main-header {
  padding: 15rem;
  background-image: url('../img/main-bg-big.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}

.main-header__h1 {
  max-width: 70rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.mainpage-nav__item {
  // padding: 5rem 3rem;
  color: white;
  text-align: center;
  height: 120px;
}

.mainpage-nav__item_order {
  background-image: url("../img/mainpag-nav-order.jpg");
}

.mainpage-nav__item_catalog {
  background-image: url("../img/mainpag-nav-catalog.jpg");
}

.mainpage-nav__item_services {
  background-image: url("../img/mainpag-nav-services.jpg");
}

.mainpage-product__item {
  text-align: center;
} 

  