.product-image {
  background-color: $gray-darker;
  padding: 2rem 0;
  margin-bottom: 3rem;

  // &__inner {
  //     height: 600px;
  // }

}


.product-grid {

  &__item {
    margin-bottom: 3rem;
    text-align: center;
    min-height: 250px;
    &_img {
      margin-bottom: 2rem;
    }
  }
}
